#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 950px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  --local-height: max(90vh, 600px);
  background-color: rgb(32, 46, 66);
}

#content-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin: 1rem 0rem 1rem 0rem;
}

#top-header-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0rem 0.8rem 0rem;
  width: 100%;
}

#logo-text{
  font-size: max(1rem, calc(0.037 * var(--local-height)));
  font-weight: 900;
  letter-spacing: 0.75px;
}

#top-header-buttons-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  > button {
    border: 1px solid black;
    border-radius: 0.8rem;
    padding: 0.3rem 0.6rem;
    font-weight: bold;

    /*  lighter green button  
    background-color: rgb(7, 199, 81); */

    background-color: rgb(11, 172, 73);
    color: #FFFFFF;
  }
  > button:hover{
    transform: scale(1.05);
    /* background-color: rgb(11, 182, 77); */
    background-color: rgb(7, 199, 81);
  }
}

#parent-wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  /* height: 90%; */
  gap: 1.25rem;
}

#left-form{
  margin: 0rem 0rem 1rem 0rem;
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

#right-preview{
  margin: 1rem 0rem 1rem 0rem;
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.component-base{
  background-color: #FFFFFF;
}

.component-form{
  padding: 0.9rem;
  border: 1px solid #000000;
  /* border-radius: 1rem; */
  font-size: calc(0.037 * var(--local-height));
  letter-spacing: -0.6px;
  font-weight: 550;

  border-radius: 0.5rem;
}

.component-form-closed{
  width: min(20vw);
}

.component-form-shown{
  width: max(20vw, fit-content);
  > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 5px;
  }

  > form input, form textarea {
    font-size: min(inherit, 1rem);
    font-weight: bold;
    outline: none;
  }

  > form input:focus, form textarea:focus {
    color: rgb(11, 172, 73);
    border: solid rgb(11, 172, 73);  
  }

  > form input:focus::placeholder, form textarea:focus::placeholder {
    /* make placeholder text disappear upon focus on input box */
    color: transparent;
  }

}

#personal-details-form{
  height: max(100px);
  overflow-y: scroll;
}

.component-preview{
  /* our 'right-preview' wrapper div in App.jsx uses only 90% of screen height, so we must specify local height with variable
  otherwise, 'width' will reference root screen height of 100% while 'height' will reference 'right-preview' wrapper screen height of 90% */
  height: min(var(--local-height));
  /* copy paper is 8.5 * 11 inches in dimension == 0.7727 w to h ratio, using calc below we can maintain realistic paper size for PDF/printing */
  width: calc(0.772 * var(--local-height));

  /* by using calc, we can set a font-size that will dynamically re-size in proportion to the paper's dimensions */
  font-size: calc(0.018 * var(--local-height));
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.form-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 700px) {

  #top-header-div{
    justify-content: space-evenly;
  }

  #parent-wrapper{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  .component-form {
    font-size: max(1rem, calc(0.02 * var(--local-height)));
  }

  #left-form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 75%

    /* height: 20%; */

  }

  #right-preview{
    /* height: 100%;
    width: 100%; */
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

/* styling for our external icons/links to LinkedIn, GitHub, and third website  */
#logosDiv, #demoLogosDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  margin: 1rem;
}

/* 
#linkedInLogo, #demoLogo1{
  background: url(../src/assets/linkedin-icon-svgrepo-com.svg);
}
#gitHubLogo, #demoLogo2{
  background: url(../src/assets/github-142-svgrepo-com.svg);
} 
#otherLogo, #demoLogo3{
  background: url(../src/assets/page-link-svgrepo-com.svg);
} */

#demoLogo1{
  background: url(../src/assets/linkedin-icon-svgrepo-com.svg);
}
#demoLogo2{
  background: url(../src/assets/github-142-svgrepo-com.svg);
} 
#demoLogo3{
  background: url(../src/assets/page-link-svgrepo-com.svg);
}

/* #linkedInLogo, #gitHubLogo, #otherLogo, #demoLogo1, #demoLogo2, #demoLogo3{
  height: calc(0.040 * var(--local-height));
  width: calc(0.040 * var(--local-height));
  background-size: contain;
  display: none;
  justify-content: center;
  align-items: center;
} */

#linkedInImg, #gitHubImg, #otherImg, #demoLogo1, #demoLogo2, #demoLogo3{
  height: calc(0.040 * var(--local-height));
  width: calc(0.040 * var(--local-height));
  background-size: contain;
  /* renders as 'display:none' but becomes 'display:flex' when user types link */
  display: none;
  justify-content: center;
  align-items: center;
}

#demoLogo1, #demoLogo2, #demoLogo3{
  display: flex;
}
#fullPage{
  padding: 0.75rem;
}


@media screen and (orientation:portrait) {
  #root{
    --mobile-local-width: 90vw;
  }

  #linkedInLogo, #gitHubLogo, #otherLogo, #demoLogo1, #demoLogo2, #demoLogo3{
    height: calc(0.040 * var(--mobile-local-width));
    width: calc(0.040 * var(--mobile-local-width));
  }

  .component-form {
    font-size: max(1rem, calc(0.02 * var(--mobile-local-width)));
  }

  #logo-text{
    font-size: calc(0.037 * var(--mobile-local-width));
  }

  .component-form{
    padding: 0.9rem;
    font-size: calc(0.037 * var(--mobile-local-width));
  }
  
  .component-preview{
    height: min(var(--mobile-local-width));
    width: calc(0.772 * var(--mobile-local-width));
    font-size: calc(0.018 * var(--mobile-local-width));
  }


}

/* for Galaxy Fold users: Arrange the top logo and buttons into a column and add gap between them */
@media only screen and (max-width: 300px){
  #top-header-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 85%;
    gap: 10px;
  }
}



/* animation and css class wrapper used to implement green animated glow when text gains focus  */
.textColorAnim {
  animation: color-change 4s infinite ease-in-out; 
}

@keyframes color-change {
  0% { color: rgb(0, 0, 0); }
  10% { color: rgb(7, 199, 81); }
  65% { color: rgb(11, 172, 73); }
  100% { color: rgb(0, 0, 0); }
}

/* apply style rules for formatting the printed document when transferring to print mode */
@page {
  size: auto;
  /* margin: 0; */
  margin: 16px;
  background-color: white;

}

.printImg {
  height: 40px !important;
  width: 40px !important;
}
